# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Pytest
.pytest_cache/

# DeepEval
.deepeval/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Temporary
*.tmp